<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width , user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
		title Document
		link(rel="stylesheet", href="assets/css/bootstrap.css")
		link(rel="stylesheet", href="assets/css/fontello.css")
		link(rel="stylesheet", href="assets/css/main.css")
	body.onepage
		.sidebar
			h2 MENÚ
			ul.main-nav
				li
					a(href="#section-0") Inicio
				li
					a(href="#section-1") Servicios
				li
					a(href="#section-2") Productos
				li
					a(href="#section-3") Contacto
		.contenido
			.menu-bar
				.uno
				.dos
				.tres
			section#section-0.section.vertical
				div
					.icon-code
					ul#fly-in-text.hid
						li W
						li E
						li L
						li C
						li O
						li M
						li E	
					
			section#section-1.section.vertical
				div
					.bck-img
						img#imagen-dev(src="assets/img/foto.jpg", alt="")
					h1 Janet Huacahuasi      
					p Desarrolladora Front-end

			section#section-2.section.vertical
				div
					h1 A second section      
					p Orders from the menu &amp; by the left and right keys.
			section#section-3.section.vertical
				div
					h1 A thrid section      
					p Orders from the menu &amp; by the left and right keys.	
					ul.intro
						li
							div 
								p This is the first text
						li
							div 
								p And Second
						li
							div
								p And this is the third text element

		//			ul.fly-in-text.hid
		//				li W
		//				li E
		//				li L
		//				li C
		//				li O
		//				li M
		//				li E
		//			.intro
		//				div 
		//					p This is the first text
		//				div 
		//					p And Second
		//				div
		//					p And this is the third text element
		//			.content
		//				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ullam explicabo ratione repellat cumque perferendis reprehenderit, necessitatibus, ad doloribus fugit inventore quod, officiis odio tempore delectus reiciendis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam cum iure mollitia non, earum doloribus distinctio dolores, impedit sequi molestias cumque eum vel! Porro ea asperiores error, fugit commodi? perspiciatis dolores odit.


		//scripts
		script(type="text/javascript" src="assets/js/jquery.js")
		script(type="text/javascript" src="assets/js/bootstrap.min.js")
		script(type="text/javascript" src="assets/js/main.js")
